@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #3c83f6;
  --primary-dark: #2563eb;
  --background-light: #f5f7f8;
  --background-semi-dark: #101722;
  --background-dark: #0b0f1a;

  --card-dark: #1f2937;
  --accent-mint: #34d399;
  --accent-orange: #f97316;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Space Grotesk", sans-serif;
  background: var(--background-dark);
  color: var(--foreground);
}

/* Minimal Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.25);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.15) transparent;
}

/* Hide scrollbar arrows */
::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}
